{% extends "base.html" %}
{% load static %}

{% block title %}
Category page
{% endblock %}

{% block content %}
<h1>상품 리스트</h1>
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="/" class="list-group-item {% if not current_category %}active{% endif %}">
                All
            </a>
            {% for c in category %}
            <a href="{{c.get_absolute_url}}" class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}">
                {{c.name}}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        {% if current_category %}{{current_category.name}}{% else %}All Products{% endif %}
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-4">
            <div class="card">
                <img src="cart-image-top" src="{{product.image.url}}" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}
                    <span class="badge badge-secondary">{{product.price}}</span>
                    </p>
                    <a href="{{product.get_absolute_url}}" class="btn btn-primary">View Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}